<%= form_for :session, url: login_path do |f| %>
    <div class="row col s6 offset-s3 card" style="margin-top: 2%">
      <div class="card-content">
        <span class="card-title center" style="margin-bottom: 2%">BOE System Login</span>
        <div class="input-field">
          <label style="font-weight: bold; color: black">Username</label>
          <%= f.text_field :username, id: 'username', placeholder: 'Username' %>
        </div>
        <div class="input-field">
          <label style="font-weight: bold; color: black">Password</label>
          <%= f.password_field :password, placeholder: 'Password' %>
        </div>
        <%= f.submit value: "Login", class: "btn"%>
      </div>

    </div>
<% end %>