<%= form_for :session, url: login_path do |f| %>
    <div class="row col s6 offset-s3" style="padding-top: 2%">
      <div class="input-field col s12">
        <span class="prefix" style="font-size: 100%; padding-top: 6%">
        Username:
        </span>
        <div class="col s10 offset-s2">
          <%= f.text_field :username, id: 'username' %>
        </div>
      </div>
      <div class="input-field col s12">
        <span class="prefix" style="font-size: 100%; padding-top: 6%">
        Password:
        </span>
        <div class="col s10 offset-s2">
          <%= f.password_field :password %>
        </div>
      </div>
      <%= f.submit value: "Login", class: "btn", style: 'margin-left: 20%;' %>
    </div>
<% end %>