<style>
  button a:link, button a:visited {
    color: white !important;
  }

  a li {
    width: 20px;
  }
</style>
<div>

  <div class="fixed-action-btn">
    <%= link_to new_tables_path, class: 'btn-floating red' do %>
        <i class="large material-icons">add</i>
    <% end %>
  </div>

  <table class="highlight responsive-table" id="tables">
    <thead>
    <th>NUMBER</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <% @tables.each do |table| %>
        <tr>
          <td><%= table.table_number %></td>
          <td>
            <a href="/tables/edit.json?id=<%= table.id %>" target="_blank" class="waves-effect waves-light btn">
              <i class="material-icons left">play_for_work</i>Download
            </a>
          </td>
          <td>
            <a href="tables/edit?id=<%= table.id %>">
              <i class="material-icons">mode_edit</i>
            </a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script>
    $( document ).on('turbolinks:load', function() {
        $('#tables').dataTable()
        $('select').material_select();
    });
</script>