/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require_tree .
*/
@import "materialize";
@import url("http://fonts.googleapis.com/icon?family=Material+Icons");

.pagination a li.active {
  color: #fff;
}

.side-nav li > a {
  font-size: 13px;
}

td a {
  color: black;
}

header, main {
  padding-left: 250px;
}

@media only screen and (max-width: 992px) {
  header, main {
    padding-left: 0;
  }
}