/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require_tree .
*/
@import "materialize";
@import url("http://fonts.googleapis.com/icon?family=Material+Icons");

.side-nav::-webkit-scrollbar {
  display: none;
}

.pagination a li {
  padding-top: 3px;
}

.pagination a li.active {
  color: #fff;
}

.row {
  margin-bottom: 0;
}

.side-nav li > a {
  font-size: 13px;
}

td a {
  color: black;
}

header, main {
  padding-left: 250px;
}

input[type=text]:not(.browser-default):disabled {
  color: black;
}

@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    transform: translateX(0%);
  }
}

.modal#unclose_modal{
  width: 45%;
  min-height: 30%;
  top: 30% !important;
}
//@media only screen and (max-width: 992px) {
//  header, main {
//    padding-left: 0;
//  }
//}

.input-field label {
  color: black;
  font-weight: bold;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

#notification_dropdown a, #notification_dropdown a.active {
  color: black;
}