<!--<script>-->
<!--//    window.fbAsyncInit = function () {-->
<!--//        FB.init({-->
<!--//            appId: '146799929207310',-->
<!--//            autoLogAppEvents: true,-->
<!--//            xfbml: true,-->
<!--//            version: 'v2.9'-->
<!--//        });-->
<!--//-->
<!--//    };-->
<!--//    (function(d, s, id){-->
<!--//        var js, fjs = d.getElementsByTagName(s)[0];-->
<!--//        if (d.getElementById(id)) {return;}-->
<!--//        js = d.createElement(s); js.id = id;-->
<!--//        js.src = "//connect.facebook.net/en_US/sdk.js";-->
<!--//        fjs.parentNode.insertBefore(js, fjs);-->
<!--//    }(document, 'script', 'facebook-jssdk'));-->
<!--//    function getFB() {-->
<!--//        console.log('getFB');-->
<!--//        console.log(FB.getLoginStatus());-->
<!--//        FB.getAuthResponse();-->
<!--//    }-->
<!--</script>-->
<!--<button class="btn" onclick="getFB()">facebook</button>-->
<style>
  label {
    font-weight: bold;
  }
</style>
<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
</div>
<div style="padding: 0% 5%">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Rejected Order</span>
      <h5 id="available" style="text-align: center;">Not Available</h5>
      <table id="table" style="display: none" class="bordered striped">
        <thead>
        <th style="text-align: center; width: 15%">Table Number</th>
        <th style="text-align: center">Dish Name</th>
        <th style="text-align: center">Price</th>
        <th style="text-align: center">Quantity</th>
        <th style="text-align: center">Total</th>
        <th></th>
        </thead>
        <tbody id="tbody">

        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        var update = {};
        update['/number'] = 0;
        firebase.database().ref().update(update);
        data = firebase.database().ref().child('rejectedOrder');
        data.on('child_added', function (snapshot) {
            $('#tbody').prepend('<tr><td style="text-align: center">' + snapshot.child('tableNumber').val() + '</td><td style="text-align: center">' + snapshot.child('dishName').val() +
                '</td><td style="text-align: center">' + snapshot.child('price').val() + '</td><td style="text-align: center">' + snapshot.child('quantity').val() + '</td><td style="text-align: center">' + snapshot.child('quantity').val() * snapshot.child('price').val() + '</td>' +
                '<td class="center"><a href="refund?order_detail_id=' + snapshot.child('order_detail_id').val() + '&fcm=' + snapshot.key + '"><button class="btn red">Refund</button></a></td></tr>');
            $('#table').css('display', '');
            $('#available').css('display', 'none');
        });
    });
    function setTimeScheduler() {
        var closeTime = $('#close_time').val();
        $.ajax({
            url: 'setScheduler',
            dataType: 'json',
            data: {
                closeTime: closeTime
            },
            success: function (data) {
                if (data.status) {
                    alert('Set Scheduler Successfully')
                }
            }
        })
    }
</script>