<style>
  label {
    font-weight: bold;
  }
</style>
<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="col s5 right">
    <div class="input-field" style="margin-top: 0">
      <input style="width: 80%" type="date" class="datepicker" placeholder="Search" id="date_search">
      <input type="hidden" id="today" value="<%= Date.today() %>">
      <button type="submit" class="btn-floating waves-effect waves-light" onclick="update_notification()" id="search_btn">
        <i class="material-icons">search</i>
      </button>
    </div>
  </div>
</div>
<div style="padding: 0% 5%">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Rejected Order</span>
      <h5 id="available" style="text-align: center;">Not Available</h5>
      <table id="table" style="display: none" class="bordered striped">
        <thead>
        <th style="text-align: center; width: 15%">Table Number</th>
        <th style="text-align: center">Dish Name</th>
        <th style="text-align: center">Price</th>
        <th style="text-align: center">Quantity</th>
        <th style="text-align: center">Total</th>
        <th></th>
        </thead>
        <tbody id="tbody">

        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
    function update_notification() {
        $('#table').css('display', 'none');
        $('#available').css('display', '');
        $('#table').find("tr:gt(0)").remove();
        data = firebase.database().ref().child('rejectedOrder');
        data.once('value').then(function (snapshot1) {
            snapshot1.forEach(function (snapshot) {
                if ($('#date_search').val() == snapshot.child('date').val()) {
                    $('#tbody').prepend('<tr><td style="text-align: center">' + snapshot.child('tableNumber').val() + '</td><td style="text-align: center">' + snapshot.child('dishName').val() +
                        '</td><td style="text-align: center">' + snapshot.child('price').val() + '</td><td style="text-align: center">' + snapshot.child('quantity').val() + '</td><td style="text-align: center">' + snapshot.child('quantity').val() * snapshot.child('price').val() + '</td>' +
                        '<td class="center"><a href="refund?order_detail_id=' + snapshot.child('order_detail_id').val() + '&fcm=' + snapshot.key + '"><button class="btn red">Refund</button></a></td></tr>');
                    $('#table').css('display', '');
                    $('#available').css('display', 'none');
                }
            });
        });
    }
    $(document).ready(function () {
        var update = {};
        update['/number'] = 0;
        firebase.database().ref().update(update);
        data = firebase.database().ref().child('rejectedOrder');
        data.on('child_added', function (snapshot) {
            if ($('#date_search').val() == snapshot.child('date').val()) {
                $('#tbody').prepend('<tr><td style="text-align: center">' + snapshot.child('tableNumber').val() + '</td><td style="text-align: center">' + snapshot.child('dishName').val() +
                    '</td><td style="text-align: center">' + snapshot.child('price').val() + '</td><td style="text-align: center">' + snapshot.child('quantity').val() + '</td><td style="text-align: center">' + snapshot.child('quantity').val() * snapshot.child('price').val() + '</td>' +
                    '<td class="center"><a href="refund?order_detail_id=' + snapshot.child('order_detail_id').val() + '&fcm=' + snapshot.key + '"><button class="btn red">Refund</button></a></td></tr>');
                $('#table').css('display', '');
                $('#available').css('display', 'none');
            }
        });
    });
    function setTimeScheduler() {
        var closeTime = $('#close_time').val();
        $.ajax({
            url: 'setScheduler',
            dataType: 'json',
            data: {
                closeTime: closeTime
            },
            success: function (data) {
                if (data.status) {
                    alert('Set Scheduler Successfully')
                }
            }
        })
    }
    var $input = $('.datepicker').pickadate({
        format: 'dd/mm/yyyy',
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    var picker = $input.pickadate('picker');
    picker.set('select', $('#today').val())
</script>