<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Restaurant Schedule</span>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="open_time">
          <label for="open_time">Open Time</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="close_time">
          <label for="close_time">Close Time</label>
        </div>
      </div>
    </div>
    <div class="card-action">
      <button class="btn">Set</button>
    </div>
  </div>
</div>