<style>
  label {
    font-weight: bold;
  }
</style>
<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Rejected Order</span>
      <table>
        <thead>
        <th>Username</th>
        <th>Order Item</th>
        <th>Total</th>
        <!--<th></th>-->
        </thead>
        <tbody id="tbody">

        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        data = firebase.database().ref().child('Phongdemo');
        data.on('child_added', function (snapshot) {
            $('#tbody').prepend('<tr><td>' + snapshot.child('username').val() + '</td><td>' + snapshot.child('orderdetail').val() +
                '</td><td>' + snapshot.child('total').val() + '</td></tr>')
        });
    });
    function setTimeScheduler() {
        var closeTime = $('#close_time').val();
        $.ajax({
            url: 'setScheduler',
            dataType: 'json',
            data: {
                closeTime: closeTime
            },
            success: function (data) {
                if (data.status) {
                    alert('Set Scheduler Successfully')
                }
            }
        })
    }
</script>